@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.nav-buttons{
    margin-left: 70%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}

button{
    font-size: 0.8rem;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color:aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover{
    background-color: coral;
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 5px;
}

.navbar .logos{
    width: 5%;
    height: 5%;
}

@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;
    }
}

#home{
    background-image: url('../imgs/landingpage.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 14.2rem;
    background-position-y: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-fluid img{
    margin-left: 1rem;
}

#home .container{
    margin-left: 2rem;
}

#home span{
    color: coral;
}

#new .pd1 img{
    width: 26rem;
    height: 18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .pd2 img{
    width: 16rem;
    height: 18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .pd3 img{
    width: 14rem;
    height: 18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .pd1, 
#new .pd2, 
#new .pd3 {
    position: relative;
}

#new .pd1 .details, 
#new .pd2 .details, 
#new .pd3 .details{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(252, 155, 28);
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: 100%;
}

#new .pd1 .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .pd2 .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .pd3 .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

#new .pd1 .details:hover, 
#new .pd2 .details:hover, 
#new .pd3 .details:hover{
    background-color: cornsilk;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
    width: 90%;
    height: 25rem;  
    object-fit: fill; 
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}

hr{
    width: 30px;
    height: 3px !important;
    opacity: 1;
    background-color: #fb774b;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.9rem;
    color: goldenrod;
}

#banner{
    background-image: url('../imgs/banner.jpg');
    width: 100%;
    height: 60vh;
    background-position-y: -20rem;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner .container{
    margin-left: 2rem;
}

#banner h1{
    color: coral;
}

#banner h4{
    color: #1d1d1d;
}

#banner button{
    background-color: #fb774b;
}

#banner button:hover{
    background-color: #1d1d1d;
}

footer{
    background-color: #222222;
}

footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover{
    color: #D8D8D8;
}

footer .copyright a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: #fff;
    background-color: #fb774b;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

footer .copyright img{
    width: 30%;
}

.footer-one .logos{
    width: 100%;
    height: 60%;
}